.socialBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    background-color: var(--bg-secondary);
    margin-bottom: 24px;
    border-radius: 8px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .socialText {
    font-weight: 600;
    font-size: 16px;
    margin-left: 10px;
  }
  .socialIcon {
    width: 24px;
    height: 24px;
  }