@font-face {
  font-family: 'General Sans';
  font-weight: 400;
  src: url('assets/fonts/GeneralSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'General Sans';
  font-weight: 500;
  src: url('assets/fonts/GeneralSans-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'General Sans';
  font-weight: 600;
  src: url('assets/fonts/GeneralSans-Semibold.otf') format('opentype');
}

:root {
  --main-color: #132518;
  --secondary-color: rgba(43, 43, 43, 0.5);
  --btn-color: #f3f5f7;
  --accent-color: #4cad66;

  --bg-main: #fefefe;
  --bg-secondary: #fafafa;

  --border-color: #d7d7d7;
}

body {
  margin: 0;
  font-family: 'General Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-main);
  line-height: 1.5;
  color: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
}
